body{
    background-color: #F2913D;
    color: #8C0E03;
}

h1{
    color: #351F1B;
}

div{
    background-color: #F2D479;
    padding: 10px 20px;
    margin: 10px 20px;
    border-radius: 20px;
}
.img{
    border-radius: 20px;
    margin-top: 20%;
    height: 750px;
}

.introducao{
    display: flex;
    flex-direction: column;
    margin-top: 20%;

}